body {
  background: #fff;
  font-family: 'lane_-_narrowregular', sans-serif;
  line-height: 30px;
}

@font-face {
  font-family: 'lane_-_narrowregular';
  src: url('../fonts/LANENAR_-webfont.eot');
  src: url('../fonts/LANENAR_-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LANENAR_-webfont.woff') format('woff'),
    url('../fonts/LANENAR_-webfont.ttf') format('truetype'),
    url('../fonts/LANENAR_-webfont.svg#lane_-_narrowregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

.gohome {
  background-color: #7b7878;
  border-radius: 100%;
  font-size: 26px;
  bottom: 4em;
  right: 1em;
  color: #FFF;
  position: fixed;
  z-index: 9999;
  text-decoration: none;
  width: 60px;
  height: 60px;
  line-height: 58px;
  text-align: center;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}

.gohome:hover {
  background-color: #0095bf;
  color: #fff;
}

h1,
p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

h2,
h3 {
  font-weight: bold;
  font-size: 28px;
}

h3 {
  color: #d19a1a;
}

.subheading {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #666;
}

ul {
  line-height: 2;
  font-size: large;
  margin: 5px;
  list-style-type: none;
}

ul>li:before {
  content: "-";
}

hr {
  border-color: #f2af00;
  margin: 0;
  opacity: 0.3;
}

img {
  max-width: 100%;
  height: auto;
  transition: all 0.3s ease-in;
}

/* home section */
#home {
  background: url('../images/bg.png')no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  padding: 100px 0;
}

#home img {
  width: 440px;
}

#home h1 {
  color: #f2af00;
  padding-top: 150px;
  line-height: 1.5;
  font-size: 36px;
}

#home h2 {
  line-height: 10px;
}

/* results section */
#service {
  padding-top: 100px;
  padding-bottom: 80px;
  text-align: center;
}

#service h2 {
  border-left: 2px solid #0095bf;
  display: inline-block;
  padding: 20px;
  color: #648499;
}

#service p {
  padding: 10px;
  margin: 10px;
}

/* #service .fa {
  border-top: 3px solid #44cbf1;
  border-bottom: 3px solid #0095bf;
  border-radius: 50%;
  font-size: 32px;
  color: #0095bf;
  text-align: center;
  vertical-align: middle;
  margin-top: 50px;
  margin-bottom: 15px;
  padding: 40px;
} */

/* overview section */
#about {
  padding-top: 60px;
  padding-bottom: 80px;
}

#about h2 {
  border-right: 2px solid #0095bf;
  display: inline-block;
  padding: 10px 20px 10px 10px;
  color: #648499;
}

#about .col-md-12 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 25px;
}

#about img {
  padding: 20px;
  width: 800px;
}

#about .img-board {
  border: 1px solid #666;
  margin: auto;
  width: 90%;
}

#about .img-small {
  border: 1px solid #666;
  margin: auto;
  width: 50%;
}

#about .para-padding {
  padding: 10px;
  margin: 10px;
}

/* progress section */
#team {
  padding-top: 60px;
  padding-bottom: 100px;
}

#team h1 {
  font-family: 'QufiStandardGK';
  font-size: 30px;
}

#team h2 {
  border-left: 2px solid #0095bf;
  display: inline-block;
  padding: 10px 10px 10px 20px;
  color: #648499;
}

#team h4 {
  padding-bottom: 40px;
}

#team .col-md-12 {
  text-align: center;
  padding-bottom: 60px;
}

#team img {
  border: 1px solid #666;
  padding: 15px;
  margin: 20px;
  width: 90%;
}

#team .img-final {
  width: 300px;
  height: auto;
  border: none;
  margin: 50% auto;
}

#team .img-noborder {
  border: none;
}

#team .img-de {
  width: 50%;
  margin: auto;
}

#team .img-small {
  width: 300px;
}

#team .para-padding {
  margin: 20px;
  padding: 10px;
}

#team .text-padding {
  padding-top: 60px;
  padding-bottom: 0;
}

/* FILTER CSS */
.filter-wrapper {
  width: 100%;
  margin: 0 0 24px 0;
  overflow: hidden;
  text-align: center;
}

.filter-wrapper li {
  display: inline-block;
  margin: 4px;
}

.filter-wrapper li a {
  color: #999999;
  font-size: 16px;
  font-family: 'lane_-_narrowregular', sans-serif;
  font-weight: bold;
  padding: 8px 17px;
  display: block;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}

.filter-wrapper li a.selected,
.filter-wrapper li a:focus,
.filter-wrapper li a:hover {
  background: #f2af00;
  border-color: transparent;
  color: #ffffff;
}

/* learning section */
#contact {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

#contact h2 {
  border-right: 2px solid #0095bf;
  display: inline-block;
  padding: 10px 20px 10px 10px;
  margin-bottom: 60px;
  color: #648499;
}

#contact p {
  padding-top: 10px;
  text-align: left;
}

.tm-btn-primary {
  color: white;
  background-color: #d19a1a;
}

.tm-btn-primary:hover,
.tm-btn-primary:focus {
  background-color: #f4be3f;
}

#figma {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

#figma .tm-btn-primary {
  margin: 20px;
  padding: 10px 30px;
  font-size: 1.15rem;
  font-weight: 300;
  border-radius: 8px;
  font-size: large;
}

/* anythingelse section */
#pricing {
  padding-top: 60px;
  padding-bottom: 80px;
  text-align: center;
}

#pricing h2 {
  border-left: 2px solid #0095bf;
  display: inline-block;
  padding: 10px 10px 10px 20px;
  color: #648499;
}

#pricing .plan {
  border: 2px solid #444;
  padding: 20px 20px 40px 20px;
  margin-top: 60px;
}

#pricing .plan .plan-title {
  border-bottom: 2px solid #444;
  padding: 20px 10px 20px 10px;
  margin-bottom: 20px;
}

#pricing .plan small,
#pricing .plan ul li {
  font-family: 'Raleway', sans-serif;
}

#pricing .plan ul {
  padding: 0;
}

#pricing .plan ul li {
  display: block;
  padding: 16px 0px 16px 0px;
}

#pricing .plan .btn {
  background: transparent;
  border: 2px solid #444;
  border-radius: 0px;
  color: #000;
  font-weight: bold;
  width: 140px;
  height: 50px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}

#pricing .plan .btn:hover {
  background: #f2af00;
  border-color: transparent;
}

/* footer section */
footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

footer h2 {
  border-bottom: 2px solid #444;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

footer p {
  line-height: 20px;
}

footer span {
  font-weight: bold;
  padding-left: 20px;
}

.social-icons {
  padding: 0;
  margin: 0;
}

.social-icons li {
  display: inline-block;
  list-style: none;
}

.social-icons li a {
  background: #444;
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}

.social-icons li a:hover {
  background: #f2af00;
}

/* copyright section */
.copyright {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

/* scrolltop section */
.go-top {
  background-color: #7b7878;
  border-radius: 100%;
  font-size: 26px;
  bottom: 1em;
  right: 1em;
  color: #FFF;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 60px;
  height: 60px;
  line-height: 58px;
  text-align: center;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}

.go-top:hover {
  background-color: #0095bf;
  color: #fff;
}

/* media 960 */
@media only screen and (max-width: 980px) {
  .navbar-default .navbar-nav li a {
    padding-right: 20px;
    padding-left: 40px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 767px) {
  #about .img-small {
    width: 50%;
    margin: auto;
  }

  #team .img-final {
    width: 50%;
    margin: auto;
  }

  #team .img-noborder {
    width: 50%;
    margin: auto;
  }

  #about .img-board {
    width: 55%;
    margin: 20px auto;
  }

  #team .img-de {
    width: 50%;
    margin: auto;
  }
}

/* media 360 */
@media only screen and (max-width: 360px) {
  #team h4 {
    padding-bottom: 30px;
  }

  #team .img-final {
    margin: 10% auto;
  }

  #about .img-small {
    width: 60%;
    margin: auto;
  }

  #team .img-final {
    width: 70%;
    margin: auto;
  }

  #team .img-noborder {
    width: 70%;
    margin: auto;
  }

  #about .img-board {
    width: 70%;
    margin: 20px auto;
  }

  #team .img-de {
    width: 70%;
    margin: auto;
  }
}